// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.company-logo {
  width: 100px;
  margin-top: 5px;
}

#company_logo {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
