.card-position {
  border: none !important;
}

.card-position .card-body {
  padding: 0 !important;
}

.group-social-network img {
  margin: 0 2px;
}

.share-copy-icon {
  background-color: #72869c;
  border-color: #72869c;
  padding: 5px;
  border-radius: 5px;
}

.container-card {
  box-shadow: 0 0 3px #888 !important;
}
